:root, body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  --selected-blue: #009BFF;
  --incorrect-red: #FF0000;
}

button {
  /* all: unset should be avoided, i'm just being lazy about styles */
  all: unset;
  cursor: pointer;
  padding: 6px 12px;
  background: white;
  outline: black 1px solid;
}

.container {
  display: flex;
  gap: 16px;
}

.selected {
  background: var(--selected-blue);
  color: white;
}

.wrong {
  color: white;
  background: var(--incorrect-red);
}